p
{
    color:rgb(121, 51, 153);
    font-size:large;
}

body{background-color:rgb(189, 130, 20)}

div

{
    max-width: 750px;
    margin:auto;
    
}
    #head
    {
        font: size: 25px;

    }
    